{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="page-header text-center" style="background-color:#FEEDB5;">
        <img src="{{ url_for('static', filename = 'Lego_Face.gif') }}" alt="legosky" style="width:8%">
        <h1 class="text-muted">{{ admin.blog_sub_title|default('Blog Subtitle') }}</h1>
        <h4 class="display-6">&nbsp; @Albert_Einstern</h4>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-9">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                <div class="page-footer">{{ render_pager(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-3 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}
